
/* single product */
.product-layout {
    display: flex;
    /* align-items: center; */
}

.product-info {
    margin: 15px 10px;
    padding: 20px;
}

/* Checkout  */
.checkout-container {
    display: flex;
    width: 100%;

}

.checkout-container div {
    flex: 1;
    margin: 10px;
}